body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.banner {
    background-color: grey;
    padding: 1px;
}



.playlist-card {
    padding: 20px;
    margin: 30px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.playlist-cover {
    padding: 1px;
}

footer {
    background-color: grey;
    padding: 20px;
}